<form [formGroup]="currencyForm" (ngSubmit)="navigateToCurrencyConversion($event)">
  <mat-form-field>
    <input type="text"
           matInput
           placeholder="Choose currency"
           formControlName="currency"
           required
           [matAutocomplete]="autoGroup">
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup>
        <mat-option *ngFor="let group of filteredCurrencyList | async" [value]="group.id">
          {{group.id}} {{group.currencyName}}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Next</button>
</form>
